In [2]:
from collections import Counter

In [3]:
lst =[1,12,2,2,2,23,3,33,1,1,3,3,4,5,5,5,6,6,5,5,]

## It count the element from the list and give the result in dictionary.

In [4]:
Counter(lst)

Counter({1: 3, 2: 3, 3: 3, 4: 1, 5: 5, 6: 2, 12: 1, 23: 1, 33: 1})

## Counter with strings

In [5]:
string = "aaasasnvcceritkgksmweowdksofw"

In [6]:
Counter(string)

Counter({'a': 4,
         'c': 2,
         'd': 1,
         'e': 2,
         'f': 1,
         'g': 1,
         'i': 1,
         'k': 3,
         'm': 1,
         'n': 1,
         'o': 2,
         'r': 1,
         's': 4,
         't': 1,
         'v': 1,
         'w': 3})

## Counter with words in a sentence

In [7]:
s = 'How many times the do each word show up in this sentence word times each word'

In [14]:
word = s.split()

Counter(word)

Counter({'How': 1,
         'do': 1,
         'each': 2,
         'in': 1,
         'many': 1,
         'sentance': 1,
         'show': 1,
         'the': 1,
         'this': 1,
         'times': 2,
         'up': 1,
         'word': 3})

## Count most common word in sentence.

In [15]:
c = Counter(word)

c.most_common(2)

[('word', 3), ('times', 2)]

In [16]:
c.most_common(3)

[('word', 3), ('times', 2), ('each', 2)]

In [17]:
sum(c.values())

16

In [18]:
c.items()

dict_items([('How', 1), ('many', 1), ('times', 2), ('the', 1), ('do', 1), ('each', 2), ('word', 3), ('show', 1), ('up', 1), ('in', 1), ('this', 1), ('sentance', 1)])

In [19]:
c.most_common()

[('word', 3),
 ('times', 2),
 ('each', 2),
 ('How', 1),
 ('many', 1),
 ('the', 1),
 ('do', 1),
 ('show', 1),
 ('up', 1),
 ('in', 1),
 ('this', 1),
 ('sentance', 1)]

In [20]:
c += Counter()

In [21]:
c

Counter({'How': 1,
         'do': 1,
         'each': 2,
         'in': 1,
         'many': 1,
         'sentance': 1,
         'show': 1,
         'the': 1,
         'this': 1,
         'times': 2,
         'up': 1,
         'word': 3})

## Default dict.

In [22]:
from collections import defaultdict

In [23]:
d = {"k1":1}

In [24]:
d["k1"]

1

In [25]:
d["k2"]

KeyError: 'k2'

In [26]:
d = defaultdict(object)

In [27]:
d["one"]

In [28]:
d

defaultdict(object, {'one': <object at 0x400d120>})

In [31]:
for x in d:
    print(x)

one

## We can initialize with default values.

In [33]:
d = defaultdict(lambda: 2)

In [34]:
d["one"]

2

In [35]:
d["two"] = 2

In [36]:
d

defaultdict(<function __main__.<lambda>>, {'one': 2, 'two': 2})

## OrderedDict

In [18]:
d = {}

d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

print("this is normal Dict")
print("this is not OrderedDict")

this is normal Dict
this is not OrderedDict

In [19]:
print("this is normal Dict")
print("this is not OrderedDict")
d

this is normal Dict
this is not OrderedDict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [20]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5

## Now this is OrderedDict

In [22]:
from collections import OrderedDict

In [23]:
d = OrderedDict()

In [24]:
d['a'] = 1
d['b'] = 2
d['c'] = 3
d['d'] = 4
d['e'] = 5

In [25]:
d

OrderedDict([('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)])

In [26]:
for k,v in d.items():
    print(k,v)

a 1
b 2
c 3
d 4
e 5

## Normal Dict.

In [27]:
d1 = {}

d1['a'] = 1
d1['b'] = 2

d2 = {}

d2['b'] = 2
d2['a'] = 1

In [29]:
print(d1 == d2)

True

## Ordered Dict

In [30]:
d1 = OrderedDict()

In [31]:
d1['a'] = 1
d1['b'] = 2

In [32]:
d2 = OrderedDict()

In [33]:
d2['b'] = 2
d2['a'] = 1

In [34]:
print(d1 == d2)

False

In [35]:
d1 = OrderedDict()

In [44]:
d1['a'] = 1
d1['b'] = 2

In [45]:
d2 = OrderedDict()

In [46]:
d2['a'] = 1
d2['b'] = 2

In [47]:
print(d1 == d2)

True

In [48]:
d1 = OrderedDict()

In [49]:
d1['a'] = 1
d1['b'] = 2

In [50]:
d2 = OrderedDict()

In [52]:
d2['a'] = 2
d2['b'] = 2

In [53]:
print(d1 == d2)

False

## namedtuple

In [54]:
# This normal tuple.
t = (1,2,3,4)

In [55]:
t[2]

3

This is namedtuple.

In [2]:
from collections import namedtuple

In [3]:
Dog = namedtuple("Dog",'age breed name')

In [4]:
kammi = Dog(age=3,breed="Great Dane" , name="kammi")

In [5]:
kammi.age

3

In [6]:
kammi.breed

'Great Dane'

In [7]:
kammi.name

'kammi'

In [8]:
kammi[0]

3

In [9]:
kammi[2]

'kammi'

Other example for namedtuple.

In [11]:
Cat = namedtuple("Cat", "fur claws name")

In [12]:
c = Cat(fur = "Fuzzy" , claws =False , name ="tom")

In [13]:
c.fur

'Fuzzy'

In [14]:
c.claws

False

In [15]:
c.name

'tom'

In [16]:
c[2]

'tom'