## This is for time. it shows than who to format time.

In [1]:
import datetime

In [3]:
t = datetime.time(4,5,3)

In [4]:
t

datetime.time(4, 5, 3)

In [5]:
type(t)

datetime.time

In [6]:
t.minute

5

In [7]:
t.hour

4

In [10]:
t.microsecond

0

In [11]:
t.second

3

In [12]:
print(t)

04:05:03

In [14]:
print(datetime.time.min)

00:00:00

In [15]:
print(datetime.time.max)

23:59:59.999999

In [16]:
print(datetime.time.resolution)

0:00:00.000001

## This is for date.

In [17]:
today = datetime.date.today()

In [18]:
print(today)

2018-05-17

In [19]:
today.timetuple()

time.struct_time(tm_year=2018, tm_mon=5, tm_mday=17, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=3, tm_yday=137, tm_isdst=-1)

In [20]:
today.day

17

In [21]:
today.month

5

In [22]:
today.year

2018

In [23]:
print(datetime.date.min)

0001-01-01

In [25]:
print(datetime.date.max)

9999-12-31

In [26]:
print(datetime.date.resolution)

1 day, 0:00:00

## To change date.

In [27]:
d1 = datetime.date(2018,3,23)

In [28]:
d1

datetime.date(2018, 3, 23)

In [29]:
print(d1)

2018-03-23

In [30]:
d2 = d1.replace(year=2100)

In [31]:
print(d2)

2100-03-23

In [32]:
d1 - d2

datetime.timedelta(-29950)