In [1]:
t = (1,243,23)

In [2]:
t

(1, 243, 23)

In [3]:
t[0]

1

In [4]:
t[1:]

(243, 23)

In [5]:
t1 = (23,435,54)

In [6]:
t1

(23, 435, 54)

In [8]:
t3 = t + t1

In [9]:
t3

(1, 243, 23, 23, 435, 54)

In [10]:
t = (1,"num", 2.3,[1,23,43])

In [11]:
t

(1, 'num', 2.3, [1, 23, 43])

In [12]:
t[3][0]

1

In [16]:
t = (2,"numbr",{"k1":34})

In [18]:
t[2]

{'k1': 34}

In [20]:
a = t[2]["k1"]

In [21]:
a

34

In [22]:
t[2]["k1"] = "3"

In [23]:
t

(2, 'numbr', {'k1': '3'})

In [24]:
len(t)

3

In [25]:
type(t)

tuple

In [29]:
size = t[2]

In [30]:
type(size)

dict

In [31]:
mylist = [2,35,56]

In [32]:
mylist

[2, 35, 56]

In [33]:
mylist[2] = "Sum"

In [34]:
mylist

[2, 35, 'Sum']

In [37]:
t[-1]

{'k1': '3'}

In [38]:
t = ("A" ,"a", "b")

In [39]:
t

('A', 'a', 'b')

In [41]:
t.count("a")

1

In [42]:
t = ("a", "a", "b")

In [43]:
t

('a', 'a', 'b')

In [44]:
t.count("a")

2

In [49]:
t.index("a")

0

In [50]:
t = (23,"number", {"k1":34})

In [51]:
t.count("number")

1

In [52]:
t.count(23)

1

In [54]:
type(t[2])

dict