In [1]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [2]:
for num in range(2,10):
    print(num)

2
3
4
5
6
7
8
9

In [3]:
for num in range(4,10,2):
    print(num)

4
6
8

In [4]:
list(range(2,10,2))

[2, 4, 6, 8]

In [5]:
index_count = 0

for word in "abcd":
    print("This is index {} and word {}". format(index_count,word))
    index_count += 1

This is index 0 and word a
This is index 1 and word b
This is index 2 and word c
This is index 3 and word d

In [9]:
index_count = 0 
name = "abcd"

for word in name:
    print(name[index_count])
    index_count += 1

a
b
c
d

In [12]:
name = "abcd"
index_count = 0

for word in name:
    print(word[index_count])

a
b
c
d

In [13]:
name = "abdcd"

for item in enumerate(name):
    print(item)

(0, 'a')
(1, 'b')
(2, 'd')
(3, 'c')
(4, 'd')

In [15]:
for item,values in enumerate(name):
    print(item)
    print(values)

0
a
1
b
2
d
3
c
4
d

In [19]:
mylist = [1,2,3]
mylist2 = ["a","b","c"]
mylist3 = [21,34,45]

for new in zip(mylist,mylist2,mylist3):
    print(new)

(1, 'a', 21)
(2, 'b', 34)
(3, 'c', 45)

In [20]:
mylist = [1,2,3]
mylist2 = ["a","b","c","d","e"]
mylist3 = [21,34,45,43,65,34]

for new in zip(mylist,mylist2,mylist3):
    print(new)

(1, 'a', 21)
(2, 'b', 34)
(3, 'c', 45)

In [22]:
list(zip(mylist,mylist2,mylist3))

[(1, 'a', 21), (2, 'b', 34), (3, 'c', 45)]

In [28]:
for a,b,c in zip(mylist,mylist2,mylist3):
    print(a)
    print(b)

1
a
2
b
3
c

In [29]:
"x" in ["a","c","b"]

False

In [30]:
"e" in "stream"

True

In [32]:
"key1" in {'key1':2323}

True

In [37]:
d = {'k1':21, 'k2': 34}
"k1" in d.keys()

True

In [38]:
21 in d.values()

True

In [39]:
tup = (0,2,3)

2 in tup

True

In [40]:
23 in tup

False

In [41]:
mylist = [23,34,45,23,122,345]
min(mylist)

23

In [43]:
max(mylist)

345

In [44]:
from random import shuffle

In [55]:
mylist = [12,43,45,56,67,67,45,]

shuffle(mylist)

In [56]:
mylist

[56, 12, 45, 67, 67, 45, 43]

In [57]:
from random import randint

In [58]:
randint(0,2)

1

In [59]:
randint(23,56)

43

In [60]:
randint(23,56)

32

In [61]:
result = input("What is your name")

What is your nameasdf

In [62]:
result

'asdf'

In [63]:
type(result)

str

In [64]:
result = input("number")

number23

In [65]:
type(result)

str

In [66]:
int(result)

23

In [68]:
result = int(input("number: "))

number: 34

In [69]:
type(result)

int